
	<!--==========================
    HERO SECTION Section
============================-->
	<header id="hero">
		<div class="container">
			<div class="intro-text">
				<h1 class="text-white">HELLO EUROVISON FAN!</h1>
				<p>Welcome to the best Eurovision platform ever!</p>
				
			</div>
		</div>
	</header>

	<!--==========================
    WHO WE ARE Section
============================-->
	
	<section id="about" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">What's on ESC4us</h2>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-cogs"></i>
						<h3>Delegate</h3>
						<p>It's amazing that the delegations interact with each other.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-magic"></i>
						<h3>Fans</h3>
						<p>
We have a platform where Eurovision fans can discuss with each other</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-mobile"></i>
						<h3>Admin</h3>
						<p>Manage with the best people </p>
					</div>
				</div>
			</div>
		</div>
	</section>
    
    <section id="statement" class="md-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="text-black lead">ESC4us brings the fans together!</h4>
            </div>
        </div>
    </div>
      
</section>   

	<section id="features" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">Eurovision Song Contest</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p>The Eurovision Song Contest (French: Concours Eurovision de la chanson), sometimes abbreviated to ESC and often known simply as Eurovision, is an international song competition organised annually by the European Broadcasting Union (EBU), featuring participants representing primarily European countries.</p>
					<div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>FEATURE 01</h5>
                                <h4>DELEGATION</h4>
                                <p>A delegation, managed by the Head of Delegation, also includes a Head of Press, the actual participants, song writers, composers, backing vocalists and the artist's entourage. </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>FEATURE 02</h5>
                                <h4>VOTING</h4>
                                <p>Since 2016, professional juries and televoters from each country each award a separate set of points from 1 to 8, 10 and 12. This now means the top-10 countries in both the jury and televote will receive points, adding a new level of excitement for hundreds of millions of viewers in Europe and beyond.

</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h5>FEATURE 03</h5>
                                <h4>FACTS</h4>
                                <p>In 2015, the Eurovision Song Contest was recognised by the Guinness Book of World Records as the Longest Running Annual TV Music Competition.</p>
                            </div>
                        </div>	
					</div>
				</div>
				<div class="col-md-6">
					<div id="features-slide" class="owl-carousel owl-theme">
						<img src="img/hadise.jpg" class="img-fluid">
						<img src="img/duncan.jpg" class="img-fluid">
						<img src="img/sertap.jpg" class="img-fluid">
						<img src="img/bonomo.jpg" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>